* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    background-color: rgb(127, 57, 185);
}

.titolo {
    text-align: center;
    margin: 30px;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(15, 71, 71);
    font-size: 25px;
    margin: 10px;
    color: aliceblue;
}

.mio-container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}